body{
  /* background-color: rgb(24,25,28);
  color: rgb(176,179,184); */ 
  background-color: rgb(20, 20, 21);
  padding: 0px; 
  margin :0px;
} 
body::-webkit-scrollbar {
  display: none;
}

.Home, .Navbar, .TopNavbar, .RightNavbar,.addPost, .profile,.messagesList,.messageContactsComp, .settingsComp, .picturesComments,.comments,.singlePicture{
  background-color: rgb(24,25,28);
  color: rgb(176,179,184);
}

.App{
  display:flex; 
  flex-wrap: wrap;  
  width:100%; 
  height: 100vh;
  
}
/* Navbar */
.Navbar, .messageContactsNavbar{
  /* border:1px solid green;   */
  border-right:1px solid rgb(58,59,60);
  height:95%; 
  width:27%;  

  /* position: fixed; 
  left: 0px; */
} 
.followFollowing{
  width: fit-content; 
  margin: auto;
}  
.followFollowing button{ 

  margin:0px 0px 0px 5px; 
  height: 50px; 
  width:100px; 
  border-radius: 20px; 
  background-color: transparent; 
  ;color:rgb(176,179,184)
} 
.followFollowing button, .userInfo button :hover{
  cursor: pointer;
}

.Navbar li{
  text-decoration: none;
  list-style-type: none; 
  margin: 10px 0px;
} 

/* .following :hover{
  background-color: grey;
  border: 1px solid red; 
  color: red;
} */
.Link{
  text-decoration: none;
  color: rgb(176,179,184);
} 
.Link :hover{
  color:white
}
/*Top Navbar*/ 
.TopNavbar{
  /* border:1px solid red;   */
  width: 70%; 
  height: 6vh; 
  margin: auto auto; 
  border-right:1px solid rgb(58,59,60);
  border-left:1px solid rgb(58,59,60);
  /* position: fixed;
  top:0px; */
}  
.TopNavbar button{
  background-color: inherit;  
  margin: 0px 10px; 
  align-items: center;
  border: none;
} 
.TopNavbar i{
  color:rgb(176,179,184);
  
}  

/* .searchUser :hover {
  cursor: pointer;
  background-color:  rgb(58,59,60);
} */

/*Right navbar CSS*/
.RightNavbar{
  border-left:1px solid rgb(58,59,60); 
  /* height: fit-content; */
}

/*Home page CSS*/
.Home, .addPost, .profile,.messageContacts,.settings,.pictureComments,.messageContactsComp{
  /* border:1px solid navy; */
  
  height: 94vh;
  display : flex; 
  flex-direction: row;
} 
.homePosts{ 
  /* border: 1px solid red; */ 
  height: 92vh;
  width: 45%;
} 

.homePosts .postWidgetUserSection{
  height:4em;
}
.homePosts img, video{
  width:350px ;
  height:350px; 
  object-fit: cover;
} 

.homePosts .postWidget{
  /* border: 1px solid orange;  */
  width:350px; 
  margin:auto;
  background-color:rgb(58,59,60) ; 
  border-radius: 15px;
} 

.homePosts .postWidgetCommentSection{
  height: fit-content;
} 

.postWidgetCommentSection input{
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
}  

.Loader {
  width : '200px';
  height: '200px';
  border : '1px solid red'; 
  border-radius: '50%';
  border-top: '1px solid blue';
  animation: spin 2s linear infinite;
} 

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 
/*Loader in the home page*/
.spinner {
  position: absolute;
  width: 9px;
  height: 9px; 
  top: 45%;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #0077b6 ;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
  }
}

.singlePostComp :hover{
  opacity: 60%;
}

/* .postWidgetCommentSection input{
  
} */

/*add Posts page CSS*/ 
.addPost{

}   

.submitButton :hover{
  background-color: grey;
  color:white
}



/*Settings page CSS*/ 
.settingsComp form{
  /* border: 1px solid blue;  */
  width: 90%; 
  margin: auto; 
  
} 
#settingsDivs{
  /* border:1px solid green;  */
  display: flex; 
  flex-wrap: wrap;
} 
#settingsDivs h2{
  width:100%;
}  
.settingsProfilePicture img{
  /* border:1px solid grey;  */
  height: 200px;
  width: 200px; 
  object-fit: cover;
}
.textInputSettingsForm{
  display: flex;
  flex-direction: column; 
  margin: 0px 10px 0px 10px;
} 
.settingsComp form button{
  margin:auto auto; 
  border:1px solid orange; 
  justify-content: center;
}

/*Messages page CSS*/
.contactHoverDiv :hover{
  background-color:rgb(58,59,60) ; 
  cursor: pointer;
} 

.inputButton:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.inputButton:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

/* Comments */
.comments{
  border-left:1px solid rgb(58,59,60);
} 

.commentDeleteButton  :hover{
  color: red;
}


.input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: .8vw;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  /* max-width: 190px; */
  transition: .4s;
}

.input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

/* Login and Register Page CSS */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: transparent;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgb(176,179,184);;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}